body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    text-align: center;
    padding: 2%;
}
section{
    display: flex;
}

section .signup-container{
    text-align: center;
    width: 100%;
    border-radius: 12px;
    -webkit-box-shadow: 0px 8px 20px 8px rgba(0,0,0,0.4);
-moz-box-shadow: 0px 8px 20px 8px rgba(0,0,0,0.4);
box-shadow: 0px 8px 20px 8px rgba(0,0,0,0.4);

}
section .signup-container h2{
    text-align: center;
}
section .signup-container h6{
    font-weight: bold;
    margin-top: 10px;
}
section .signup-container h6 a{
    color: #5CDB95;
    text-decoration: none;
}

section .image-container img{
    position: relative;
    left: -5%;
    width: 100%;
    height: auto;
}
input, input:focus{
    border-radius: 12px;
    width: 85%;
    height: 2.5em;
    margin: .5em .1rem;
    border: 1px solid;
    padding: .5rem 1rem;
    outline: none;
}

#submit{
    position: relative;
    top: 50%;
    background-color: #5CDB95;
    border-radius: 8px;
    padding: 2% 32%;
    text-align: center;
    border: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1.5px;
    text-decoration: none;
}

/* Login page Styling */
#forgotPassword{
    position: relative;
    left: -25%;
    color: #5CDB95;
    font-size: 14px;
}

label input[type="checkbox"]{ 
    font-size: 8px;
    width:10%;
    display: inline-block;
    vertical-align: middle;
}

.checkClass{
    position: relative;
    margin: 2% 0;
    left: 8%;
    text-align: left;
}
.checkClass label{
    width: 100%;
}

form i{
    position: absolute;
    float: right;
    right: 50px;
    top: 51%;
    z-index: 2;
}